* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#pokeTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 2rem;
}

.divTitle {
    filter: drop-shadow(-5px 8px 5px #505050d2);
    padding: .5rem;
}

.divMenu, .menuList {
    list-style-type: none;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 5px #50505071;
}

#search {
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #9c97fa;
}

::placeholder {
    color: #50505052;
}