* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #716eb4, #a5a3b9);
    padding-bottom: 5rem;
}

#pokeTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 2rem;
}

.divTitle {
    filter: drop-shadow(-5px 8px 5px #505050d2);
    padding: .5rem;
}

.divMenu, .menuList {
    list-style-type: none;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 5px #50505071;
    transition: all .2s linear
}

a:hover {
    color: #a6a6a8;
}

#search {
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #716eb4;
}

::placeholder {
    color: #a0a0a0a4;
}

.contentApi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    padding-top: 2rem;
}

.pokemon-block {
    background-color: #bfbdd8;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: -3px 5px 5px #505050d2;
    transition: all .3s linear;
}

.pokemon-block:hover {
    transform: scale(1.1);
    box-shadow: -5px 8px 9px #505050d2;
}

.img-container {
    background-image: url("/resources/blob.svg");
}

.name, .number {
    text-align: center;
}